@import "primereact/resources/themes/lara-light-indigo/theme.css";

@import "primereact/resources/primereact.min.css";

@import "primeicons/primeicons.css";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.card-title,
.p-tabview-title {
  color: #407f3e;
}

:root {
  --primary-color: #407f3e;
}

/* .btn-primary{
  background-color:#407F3E;
  border-color: #407F3E;
} */
.badge-status-active {
  background-color: var(--forth-color);
}
.badge-status-inactive {
  background-color: var(--third-color);
}

.badge-status-lock {
  background-color: var(--secondary-color);
}

